.container{
    width: 80%;
    margin: 30px auto;
    /* border: 1px solid black; */
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
}
.breedname{
    text-decoration: none;
    color: black;
}
.div{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}