.img_div {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid red; */
}

.div {
    /* border: 1px solid red; */
}

.img {
    width: 200px;
    height: 200px;
}